<div id="message-<%= message.id %>" class="message mb-3 <%=  message.user == current_user ? 'sent-message' : 'received-message' %>">
  <%= cl_image_tag message.user.profile.photo.key, width: 50, class:'avatar me-2' %>
  <p>
    <%= message.content %>
    <i class="date"><%= message.created_at.strftime("%H:%M") %></i>
  </p>
</div>
