<% if message.user == current_user %>
  <div id="message-<%= message.id %>" class="text-end sent-message">
    <p><%= message.content %><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
  </div>
<% else %>
    <%= cl_image_tag message.user.profile.photo.key, width: 50, class:'avatar' %>
    <div id="message-<%= message.id %>" class="text-start received-message">
      <p><%= message.content %><i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i></p>
    </div>
<% end %>
