<%= simple_form_for(meeting) do |f| %>
  <%= f.input :name, label: "name" %>
  <% # add default boardgame.name %>
  <%= f.association :boardgame, label: "boardgame", input_html: { data: { controller: 'select2' } } %>
  <% # make it a list from api and update list as you write %>
  <%= f.input :start_date, label: "date" %>
  <%# <%= f.input :start_time %>
  <%= f.input :start_time, label: "time" %>
  <%= f.input :address, label: "address" %>
  <% # make it a list from gem and update list as you write %>
  <%= f.input :players_wanted, label: "players needed", collection: 1..10 %>
  <% # should actually be updated to only show the max players of game %>
  <%= f.input :user_is_owner, label: "i own the game"%>
  <%= f.input :description, label: "comments" %>
  <div class="btn-container">
    <% if meeting.new_record? %>
      <div class="form-actions a_btn">
        <%= f.button :submit, "create", class: "a_btn" %>
      </div>
    <% else %>
      <div class="form-actions a_btn">
        <%= f.button :submit, "update", class: "a_btn" %>
      </div>
    <% end %>
<% end %>
