<%= simple_form_for(meeting) do |f| %>
  <%= f.input :name, label: "name" %>
  <%= f.association :boardgame, label: "boardgame", input_html: { data: { controller: 'select2' } } %>
  <div data-controller='flatpickr'>
    <%= f.input :start_date, label: "date", as: :string, input_html: {class:'datepickr'} %>
    <%= f.input :start_time, label: "time", as: :string, input_html: {class:'timepickr'} %>
  </div>

  <div data-controller='geocoder'>
    <%= f.input :address,
              input_html: { data: { geocoder_target: "address" }, class: "d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }
    %>
  </div>
  <%= f.input :players_wanted, label: "total players", collection: 1..10 %>
  <%= f.input :user_is_owner, label: "i own the game"%>
  <%= f.input :description, label: "comments" %>
  <div class="btn-container">
    <% if meeting.new_record? %>
      <div class="form-actions a_btn">
        <%= f.button :submit, "create", class: "a_btn" %>
      </div>
    <% else %>
      <div class="form-actions a_btn">
        <%= f.button :submit, "update", class: "a_btn" %>
      </div>
    <% end %>
  </div>
<% end %>
