<div data-search-meetings-target="list">
  <% meetings.each do |meeting| %>
    <%= link_to meeting_path(meeting) do %>
      <div class="card-product <%= "darkened-card" if meeting.full? %>"  style="min-height: 120px;">
        <%= cl_image_tag meeting.boardgame.photo.key, width: 96 %>
        <div class="card-product-infos d-flex flex-column justify-content-between w-100">
          <div class="card-host">
            <% if meeting.full? %>
              <%= render 'shared/small_gray_meeple' %>
              <p style="color: #6e6d6d"><%= meeting.user.profile.name%></p>
            <% else %>
              <%= render 'shared/small_meeple' %>
              <p style="color: #A380BD"><%= meeting.user.profile.name%></p>
            <% end %>
          </div>
          <h2><%= meeting.name %></h2>
          <div class="d-flex justify-content-between">
            <div class="address">
              <p><i class="fa-solid fa-location-dot"></i> <%= meeting.address %></p>
            </div>
            <div class="date-and-time">
              <p><i class="fa-solid fa-calendar"></i> <%= meeting.start_date.strftime('%a %d %b') %> <%= meeting.start_time.strftime("%k:%M")%></p>
            </div>
          </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>


<%# <%= h truncate(meeting.user.email, :length => 50) %>
<%# style="padding: 3px" %>
