<% # meeting should be a card with info %>
<div class="px-4" data-controller="search-meetings">

  <div class="search-bar">
  <i class="fas fa-search fs-6"></i>
    <%= form_with url: meetings_path, method: :get,
        html: { class: '', data: { search_meetings_target: 'form' } } do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control ps-5 form-radius",
          placeholder: "search meeting",
          value: params[:query],
          data: {
            search_meetings_target: 'input',
            action: 'keyup->search-meetings#update'
            }
      %>
    <% end %>
    <%# <%= submit_tag "Search", class: "" %>
  </div>
  <%= link_to(@meetings_path) do %>
    <h1>meetings</h1>
  <% end %>
  <%= render 'list', meetings: @meetings %>
</div>
