<div class="px-4">
  <h1 class="pb-3"><%=@meeting.name %></h1>
  <div class="px-4">
    <p><span style="color: #A380BD"><%=render 'shared/small_meeple'%></span> <%= @meeting.user.email %></p>

    <div class="d-flex justify-content-start">
      <p><%= link_to("https://boardgamegeek.com/boardgame/#{@meeting.boardgame.bgg_id}") do %><%= @meeting.boardgame.name %></p>
      <% if @meeting.user_is_owner %>
          <p style="color: #A380BD"><i class="fa fa-solid fa-check px-1"></i><%= '(host owns this boardgame)' %></p>
        <% else %>
          <p style="color: #A380BD"><i class="fa-solid fa-xmark-large px-1"></i><%= "(host doesn't own this boardgame)" %></p>
        <% end %>
    </div>
    <div class="text-center pb-4">
      <%= cl_image_tag @meeting.boardgame.photo.key, width: '75%', class: 'game-photo my-4'%>
    </div>
    <% end %>
    <div class="d-flex justify-content-between px-3">
      <p><i class="fa fa-solid fa-map-pin" style="color: #A380BD"></i> <%= @meeting.address %></p>
      <p><i class="fa fa-regular fa-calendar" style="color: #A380BD"></i> <%= @meeting.start_date %></p>
    </div>
    <div class="text-center">
      <p>waiting for <%= @meeting.players_wanted %> players</p>
        <% # see also players already joined. don't know how yet. %>
    </div>
    <div class="text-justify pt-3">
      <p style="color: #A380BD" class="mb-0">comments:</p>
      <p style="color: #BBBBBB; text-align: justify" ><%= @meeting.description%></p>
    </div>
    <div class="d-flex justify-content-center py-3">
      <% if current_user != @meeting.user %>
        <%= link_to 'join', "#", class:'a_btn' %>
      <% else %>
        <% if policy(@meeting).destroy? %>
          <%= link_to 'cancel meeting', meeting_path(@meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'b_btn' %>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center py-3">
      <%= link_to 'chat', "#", class:'a_btn' %>
    </div>
    <div class="d-flex justify-content-center py-3">
      <%= link_to 'back', meetings_path, class:'b_btn' %>
    </div>
  </div>
</div>
