<div class="px-4">
  <h1 class="pb-3 d-flex justify-content-center"><%=@meeting.name %></h1>
  <div class="px-4">
    <div class="d-flex justify-content-center">
      <p><span style="color: #A380BD"><%=render 'shared/small_meeple'%></span> <%= @meeting.user.profile.name %></p>
    </div>

    <div class="d-flex justify-content-center">
      <p><%= link_to(boardgame_path(@meeting.boardgame)) do %><%= @meeting.boardgame.name %></p>
    </div>
    <div class="text-center pb-4">
      <%= cl_image_tag @meeting.boardgame.photo.key, width: '75%', class: 'game-photo my-4'%>
    </div>
    <% end %>

    <div class="text-center px-3">
      <p><i class="fa fa-solid fa-calendar" style="color: #A380BD"></i> <%= @meeting.start_date.strftime('%A, %d %B %Y') %>, <%= @meeting.start_time.strftime("%H:%M")%></p>
      <p><i class="fa fa-solid fa-location-dot" style="color: #A380BD"></i> <%= @meeting.address %></p>
    </div>
    <div class="text-center">
    <% @meeting.users.count.times do %>
      <%= render 'shared/small_meeple'%>
    <% end %>
    <% (@meeting.players_wanted - @meeting.users.count).times do %>
      <%=render 'shared/small_gray_meeple' %>
    <% end %>
      <% if @meeting.full? %>
        <p style="color: #6e6d6d">(Meeting is full)</p>
      <% else %>
        <p style="color: #6e6d6d">(Waiting for <%= (@meeting.players_wanted - @meeting.users.count) %>/<%= @meeting.players_wanted %> players)</p>
      <% end %>
      <% @meeting.users.each do |user| %>
        <p><%= user.email %></p>
      <% end %>
    </div>
    <div style="width: 100%; height: 100px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="text-justify pt-3">
      <p style="color: #A380BD" class="mb-0">comments:</p>
      <p style="color: #6e6d6d; text-align: left" ><%= @meeting.description%></p>
    </div>
    <% unless @meeting.users.find_by(id: current_user.id).present? || @meeting.full? %>
      <div class="d-flex justify-content-center py-2">
        <%= simple_form_for [@meeting, @user_meeting] do |f| %>
          <%= f.submit "join", class: "a_btn" %>
        <% end %>
      </div>
    <% end %>
      <% if policy(@meeting).edit? %>
        <div class="d-flex justify-content-center py-2">
          <%= link_to 'edit', edit_meeting_path(@meeting), class:'b_btn' %>
        </div>
      <% end %>
      <% if policy(@meeting).destroy? %>
        <div class="d-flex justify-content-center py-2">
          <%= link_to 'cancel meeting', meeting_path(@meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'b_btn' %>
        </div>
      <% end %>
      <% if @user_meeting.present? %>
        <% if policy(@user_meeting).destroy? && (@meeting.user != current_user) %>
          <div class="d-flex justify-content-center py-2">
            <%= link_to 'leave meeting', user_meeting_path(@user_meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'b_btn' %>
          </div>
        <% end %>
      <% end %>
      <% if policy(@meeting.chatroom).show? %>
        <div class="d-flex justify-content-center py-2">
          <%= link_to 'chat', chatroom_path(@meeting.chatroom), class:'a_btn' %>
        </div>
      <% end %>
    <div class="d-flex justify-content-center py-2">
      <%= link_to 'back', meetings_path, class:'b_btn' %>
    </div>
  </div>
</div>
