<h1>Meeting: <%= ${@meeting.name} %></h1>

<%= @meeting.user.name %>
<%= @meeting.user_is_owner %>

<%= @meeting.boardgame.name %>
<%= @meeting.start_date %>
<%= @meeting.players_wanted %>

<%= @meeting.address %>
<%= @meeting.description %>


<% # see also players already joined. don't know how yet. %>
