<h1>meeting: <%= @meeting.name %></h1>

<p>boardgame: <%= @meeting.boardgame.name %></p>

<% # TODO: add boardgame photo %>

<p>created by: <%= @user.name %></p>
<% if @meeting.user_is_owner %>
  <p><%= 'I own the boardgame' %></p>
<% else %>
  <p><%= "I don't own the boardgame" %></p>
<% end %>

<p>date and time: <%= @meeting.start_date %></p>
<p>address: <%= @meeting.address %></p>

<p>comments: <%= @meeting.description %></p>

<p>waiting for: <%= @meeting.players_wanted %> players</p>

<% # see also players already joined. don't know how yet. %>

<% if policy(@meeting).destroy? %>
  <%= link_to 'cancel session', meeting_path(@meeting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'b_btn' %>
<% end %>

<%= link_to 'Back', meetings_path %>
