<h1>Meeting: <%= ${@meeting.name} %></h1>

<%= @meeting.boardgame.name %>
<%= @meeting.start_date %>
<%= @meeting.players_wanted %>

<%= @meeting.address %>
<%= @meeting.description %>

<%= @meeting.user.name %>
<%= @meeting.user_is_owner %>

<% # add players already joined %>
