<div class="px-4">
  <h1>my chatrooms</h1>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do %>
      <div class="card-product">
        <div class="card-product-infos d-flex flex-column justify-content-between w-100">
          <div class="d-flex justify-content-between align-items-between">
            <h2 class="ellipsis"><%= chatroom.meeting.name %></h2>
            <i style="color: #A380BD" class="fa-solid fa-comments"></i>
          </div>
          <div class="ellipsis">
            <p style="color: #A380BD"><i class="fa-solid fa-location-dot"></i> <%= chatroom.meeting.address %></p>
          </div>
          <div class="ellipsis">
            <p style="color: #A380BD"><i class="fa-solid fa-calendar"></i> <%= chatroom.meeting.start_date.strftime('%a %d %b %Y') %> <%= chatroom.meeting.start_time.strftime("%k:%M")%></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center pt-4 pb-3">
    <%= link_to 'back', :back, class:'b_btn ' %>
  </div>
</div>
