<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom m-height-navbar border-navbar px-2" >
  <div class="container-fluid align-items-start">
    <%= link_to(meetings_path, class:'nav-link') do %>
      <% if params[:controller] == 'meetings' && params[:action] == 'index' %>
        <%= render 'shared/house_filled' %>
      <% else %>
        <%= render 'shared/house' %>
      <% end %>
    <% end %>
    <%= link_to(calendar_path , class:'nav-link') do %>
      <% if params[:controller] == 'meetings' && params[:action] == 'calendar' %>
        <i class="fa-solid fa-calendar calendar_btn"></i>
      <% else %>
        <i class="fa-regular fa-calendar calendar_btn"></i>
      <% end %>
    <% end %>
    <%= link_to(new_meeting_path, class:'nav-link plus_btn height1') do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= link_to(chatrooms_path, class:'nav-link messages_btn') do %>
      <% if params[:controller] == 'chatrooms' %>
        <i class="fa-solid fa-message"></i>
      <% else %>
        <i class="fa-regular fa-message"></i>
      <% end %>
    <% end %>

    <%= link_to(profile_path(current_user.profile), class:'nav-link') do %>
      <% if params[:controller] == 'profiles' %>
        <i class="fa-solid fa-user avatar_btn "></i>
      <% else %>
        <i class="fa-regular fa-user avatar_btn "></i>
      <% end %>
    <% end %>
  </div>
</div>
