<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-top" data-controller="dropdown">
  <div class="col-4">
  </div>
  <div class="container-fluid col-8 d-flex justify-content-between">
    <%= link_to meetings_path, class: "navbar-brand" do %>
      <%= render 'shared/meeple_svg' %>
    <% end %>

    <div class="dropdown">
      <a class="btn text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <%= render 'shared/navbar_toggler' %>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <% if user_signed_in? %>
          <%= link_to "my meetings", "#", class: "dropdown-item" %>
          <%= link_to "my boardgames", "#", class: "dropdown-item" %>
          <%= link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to "log in", "#", class: "dropdown-item" %>
        <% end %>
      </ul>
    </div>

    </div>
  </div>
</div>
