<div data-search-meetings-target="list">
  <% meetings.each do |meeting| %>
    <%= link_to meeting_path(meeting) do %>
      <div class="card-product <%= "darkened-card" if meeting.full? %>" >
        <%= cl_image_tag meeting.boardgame.photo.key, width: 96 %>
        <div class="card-product-infos d-flex flex-column justify-content-between w-100 ellipsis">
          <div class="meeting-title ellipsis">
            <h2><%= meeting.name %></h2>
          </div>
          <div class="address ellipsis">
            <p><i class="fa-solid fa-location-dot"></i> <%= meeting.address %></p>
          </div>
          <div class="date-and-time ellipsis">
            <p><i class="fa-solid fa-calendar"></i> <%= meeting.start_date.strftime('%a %d %b') %> <%= meeting.start_time.strftime("%k:%M")%></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
