<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login-signup">
        <h1>log in</h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        label: "email",
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        label: "password",
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, label: "remember me", as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="btn-container">
            <div class="form-actions a_btn">
              <%= f.button :submit, "log in", class: "a_btn" %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
