

<div data-search-boardgames-target="list">
  <% boardgames.each do |boardgame| %>
      <%= link_to boardgame_path(boardgame) do %>
        <div class="card-product">
          <%= cl_image_tag boardgame.photo.key, width: 96 %>
          <div class="card-product-infos">
            <div style="width: 215px"></div>
            <h2><%= boardgame.name %></h2>
            <div class="d-flex justify-content-between boardgame-padding">
                <%# <p style="color: #BBBBBB"><%= boardgame.rating %></p>
                <p style="color: #BBBBBB"><i class="fa-solid fa-clock"></i><%= boardgame.avg_duration %>(min)</p>
                <p style="color: #BBBBBB"><i class="fa-solid fa-users"></i><%= boardgame.max_players %></p>
              </div>

          </div>
        </div>
      <% end %>
    <% end %>
</div>
